<html xmlns:th="http://www.thymeleaf.org">
<div class="fly-header layui-bg-black" id="header">
</div>
<div style="display: none;">
  <input id="column_user_id" th:value="${userId}" ></input>
  <input id="column_user_nam" th:value="${userNam}"> </input>
</div>
<div class="fly-panel fly-column">
  <div class="layui-container">
    <ul class="layui-clear">
      <li class="layui-hide-xs layui-this"><a href="/">首页</a></li> 
      <li><a href="/index">提问</a></li>
      <li><a href="/question/index">分享<span class="layui-badge-dot"></span></a></li>
      <li><a href="/question/index">讨论</a></li>
      <li><a href="/question/index">建议</a></li>
      <li><a href="/question/index">公告</a></li>
      <li><a href="/question/index">动态</a></li>
      <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><span class="fly-mid"></span></li> 
      
      <!-- 用户登入后显示 -->
      <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><a href="user/index">我发表的贴</a></li>
      <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><a href="user/index#collection">我收藏的贴</a></li>
    </ul> 
    
    <div class="fly-column-right layui-hide-xs"> 
      <span class="fly-search"><i class="layui-icon"></i></span> 
      <a href="javascript:void(0);" class="layui-btn" onclick="checkLoginSta();">发表新帖</a>
    </div> 
   <!-- <div class="layui-hide-sm layui-show-xs-block" style="margin-top: -10px; padding-bottom: 10px; text-align: center;">
      <a href="/question/add" class="layui-btn">发表新帖</a>
    </div> -->
  </div>
</div>
<script src="/plugins/JQuery/jquery-3.3.1.min.js"></script>
<script >
    $(document).ready(function() {
        $("#header").load("/header");
    });

    function checkLoginSta(){
      var userId = document.getElementById("column_user_id").value;
      if(userId!='-1'){
          window.open("/question/add","_self");
      }else{
          layer.alert("请先登录");
      }
    }

</script>