<html xmlns:th="http://www.thymeleaf.org">
<div class="fly-header layui-bg-black" id="header">
</div>
<div style="display: none;">
  <input id="column_user_id" th:value="${userId}" ></input>
  <input id="column_user_nam" th:value="${userNam}"> </input>
</div>

<script src="/plugins/JQuery/jquery-3.3.1.min.js"></script>
<script >
    $(document).ready(function() {
        $("#header").load("/header");
    });

    function checkLoginSta(){
      var userId = document.getElementById("column_user_id").value;
     // if(userId!='-1'){
          window.open("/question/add","_self");
    /*  }else{
          layer.alert("请先登录");
      }*/
    }

</script>