<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/global.css">
</head>
<body>
<div class="layui-container">
    <a class="fly-logo" href="/">
        <img src="/images/logo.png" alt="layui">
    </a>
    <ul class="layui-nav fly-nav layui-hide-xs">
        <li class="layui-nav-item layui-this">
            <a href="/"><i class="iconfont icon-jiaoliu"></i>交流</a>
        </li>
        <li class="layui-nav-item">
            <a href="../../../resources/templates/case"><i class="iconfont icon-iconmingxinganli"></i>案例</a>
        </li>
        <li class="layui-nav-item">
            <a href="http://www.layui.com/" target="_blank"><i class="iconfont icon-ui"></i>框架 </span></a>
        </li>
    </ul>

    <ul class="layui-nav fly-nav-user"  th:if="${userId}eq '-1'">
        <!-- 未登入的状态 -->
        <li class="layui-nav-item" >
            <a class="iconfont icon-touxiang layui-hide-xs" href="user/regisiter"></a>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:void(0);" onclick="userLogin();">登入</a>
           <!-- <button data-method="notice" class="layui-btn" onclick="showLoginPage()">登录</button>-->
        </li>
        <li class="layui-nav-item">
            <a href="/user/regisiter">注册</a>
        </li>
        <li class="layui-nav-item layui-hide-xs">

            <a href="/app/qq/" onclick="layer.msg('正在通过QQ登入', {icon:16, shade: 0.1, time:0})" title="QQ登入" class="iconfont icon-qq"></a>
        </li>
        <li class="layui-nav-item layui-hide-xs">
            <a href="/app/weibo/" onclick="layer.msg('正在通过微博登入', {icon:16, shade: 0.1, time:0})" title="微博登入" class="iconfont icon-weibo"></a>
        </li>
    </ul>

    <ul class="layui-nav fly-nav-user" th:if="${userId}ne'-1'">99
        <li class="layui-nav-item" style="margin-left: 10px;margin-right: 10px;">
            <a href="">控制台<span class="layui-badge">9</span></a>
        </li>
        <li class="layui-nav-item" style="margin-left: 10px;margin-right: 10px;">
            <a href="/user/index">个人中心<span class="layui-badge-dot"></span></a>
        </li>
        <li class="layui-nav-item" style="margin-left: 10px;margin-right: 10px;">
            <a href="" > <img src="//t.cn/RCzsdCq" class="layui-nav-img" th:text="${userNam}" > </a>
            <dl class="layui-nav-child">
                <dd><a href="/user/set">修改信息</a></dd>
                <dd><a href="javascript:;">安全管理</a></dd>
                <dd><a href="javascript:;">退了</a></dd>
            </dl>
        </li>
    </ul>
</div>
<script src="/layui/layui.js"></script>
<script src="/plugins/JQuery/jquery-3.3.1.min.js"></script>
<script src="/js/header.js"></script>
</body>
</html>