<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<link rel="stylesheet" href="/resource/layui/css/layui.css">
<head>
    <meta charset="UTF-8">
    <title>电影点播</title>

    <style>
        .movieTyp{
            width: 100px;
            border: 1px solid white;
            background-color: #00CCFF;
            cursor: pointer;
        }
        .movieContainer{
            width: 98%;
            MAX-WIDTH: 1200PX;
        }
        .movieListClass{
            width: 100%;
            min-height: 600px;
            border: 0px;
            overflow: hidden;
        }
        .movieBtnClass{
            width: 25px;
            height: 25px;
        }
    </style>
</head>
<body align="center">
        <div style="width: 98%;margin-top: 25px;" align="center">
            <div class="movieContainer">
                <table style="width: 100%;margin-top: 10px;margin-bottom: 10px;">
                    <tbody>
                        <tr style="width: 100%;" th:each="moviecol:${MovieColInfo}">
                            <td style="width: 100px;" th:text="${moviecol.mcolName}"></td>
                            <td class="movieTyp" th:each="moviegroup:${moviecol.moviegroups}" th:text="${moviegroup.groupName}" th:id="${moviegroup.groupCode}" onclick="moviegroup_onclick(this);">栏目A</td>
                        </tr>
                    </tbody>
                </table>
                <table class="layui-table" lay-even="" lay-skin="nob" style="margin-top: 10px;margin-bottom: 10px;">
                    <colgroup>
                        <col style="width: 20%;">
                        <col style="width: 50%;">
                        <col style="width: 20%;">
                        <col style="width: 10%;">
                    </colgroup>

                    <tbody>
                    <tr th:each="movieInfo:${movieList}">
                        <td th:text="${movieInfo.getMovieName()}"> </td>
                        <td th:text="${movieInfo.getTitle()}"></td>
                        <td th:text="${movieInfo.getTime()}"></td>
                        <td> <img class="movieBtnClass" src="/resource/images/movie/play.jpg" th:onclick="'javascript:openWeb(\''+${movieInfo.getMovieId()}+'\')'"/></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
</body>
<script src="/resource/plugins/JQuery/jquery-3.3.1.min.js"></script>
<script src="/resource/js/movie/movie.js"></script>
<script>
    function openWeb(movieId){
        window.open("/movie/play?movieId="+movieId);
    }
</script>
</html>