
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
  <meta charset="utf-8">
  <title>编辑帖子</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="fly,layui,前端社区">
  <meta name="description" content="Fly社区是模块化前端UI框架Layui的官网社区，致力于为web开发提供强劲动力">
  <link rel="stylesheet" href="/layui/css/layui.css">
  <link rel="stylesheet" href="/css/global.css">
</head>
<body>
  <div style="width:100%;height:60px" id="head"></div>
  <div style="display: none">
      <input type="hidden" th:text="${userId}">
      <input type="hidden" th:text="${userInfo}">
  </div>
  <div class="layui-container fly-marginTop">
    <div class="fly-panel" pad20 style="padding-top: 5px;">
      <!--<div class="fly-none">没有权限</div>-->
      <div class="layui-form layui-form-pane">
        <div class="layui-tab layui-tab-brief" lay-filter="user">
          <ul class="layui-tab-title">
            <li class="layui-this">发表新帖<!-- 编辑帖子 --></li>
          </ul>
          <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
            <div class="layui-tab-item layui-show">
              <form action="/noteinfo/add" method="post">
                  <div class="layui-row layui-col-space15 layui-form-item">
                      <div class="layui-col-md6">
                          <label for="theme" class="layui-form-label">标题</label>
                          <div class="layui-input-block">
                              <input type="text" id="theme" name="theme"  autocomplete="off" class="layui-input">
                              <!-- <input type="hidden" name="id" value="{{d.edit.id}}"> -->
                          </div>
                      </div>
                  </div>
                <div class="layui-row layui-col-space15 layui-form-item">
                  <div class="layui-col-md3">
                    <label class="layui-form-label">所在专栏</label>
                    <div class="layui-input-block">
                      <select  name="noteType" id="noteType" lay-filter="column">
                        <option   th:each="subject:${subjectInfo}" th:value="${subject.code}" th:text="${subject.name}"></option>
                      </select>
                    </div>
                  </div>
                    <div class="layui-col-md3">
                        <label class="layui-form-label">所属领域</label>
                        <div class="layui-input-block">
                            <select name="modelType" id="modelType">
                                <option></option>
                                <option value="layui">layui</option>
                                <option value="独立版layer">独立版layer</option>
                                <option value="独立版layDate">独立版layDate</option>
                                <option value="LayIM">LayIM</option>
                                <option value="Fly社区模板">Fly社区模板</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-row layui-col-space15 layui-form-item">
                        <div class="layui-col-md6">
                            <label for="theme" class="layui-form-label">关键词</label>
                            <div class="layui-input-block">
                                <input type="text" id="keys" name="keys" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                <div class="layui-form-item layui-form-text">
                  <div class="layui-input-block">
                    <textarea id="noteBody" name="noteBody" required lay-verify="required" placeholder="正文"
                              class="layui-textarea fly-editor" style="height: 260px;"></textarea>
                  </div>
                </div>
                <div class="layui-form-item" id="integralDiv">
                  <div class="layui-inline">
                    <label class="layui-form-label">悬赏飞吻</label>
                    <div class="layui-input-inline" style="width: 190px;">
                      <select name="integrate" id="integrate">
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="50">50</option>
                        <option value="60">60</option>
                        <option value="80">80</option>
                      </select>
                    </div>
                    <div class="layui-form-mid layui-word-aux">发表后无法更改飞吻</div>
                  </div>
                </div>

                <div class="layui-form-item">
                  <button class="layui-btn" lay-filter="addNewNoteInfo" lay-submit>立即发布</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="fly-footer" id="footer">
</div>
  <script src="/layui/layui.js"></script>
  <script src="/plugins/JQuery/jquery-3.3.1.min.js"></script>
  <script src="/js/addNote.js"></script>

<script>
    layui.cache.page = 'jie';
    layui.cache.user = {
        username: '游客'
        ,uid: -1
        ,avatar: '/images/avatar/00.jpg'
        ,experience: 83
        ,sex: '男'
    };
    layui.config({
        version: "3.0.0"
        ,base: '/mods/'
    }).extend({
        fly: 'index'
    }).use('fly');

</script>

</body>
</html>