<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>帖子详情</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="fly,layui,前端社区">
  <meta name="description" content="Fly社区是模块化前端UI框架Layui的官网社区，致力于为web开发提供强劲动力">
  <link rel="stylesheet" href="/layui/css/layui.css">
  <link rel="stylesheet" href="/css/global.css">
</head>
<body>

<div style="width:100%;height:60px" id="head"></div>
<input type="hidden" id="noteNo" name="noteNo" th:value="${NoteDetail.getNoteinfo().getNoteNo()}">
<div class="layui-container">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md8 content detail">
      <div class="fly-panel detail-box">
        <h1 th:text="${NoteDetail.getNoteinfo().getTheme()}"></h1>
        <div class="fly-detail-info">
          <!-- <span class="layui-badge">审核中</span> -->
          <span class="layui-badge layui-bg-green fly-detail-column">动态</span>
          
          <span class="layui-badge" style="background-color: #999;">未结</span>
          <!-- <span class="layui-badge" style="background-color: #5FB878;">已结</span> -->
          
          <span class="layui-badge layui-bg-black">置顶</span>
          <span class="layui-badge layui-bg-red">精帖</span>
          
          <div class="fly-admin-box" data-id="123">
            <span class="layui-btn layui-btn-xs jie-admin" type="del">删除</span>
            
            <span class="layui-btn layui-btn-xs jie-admin" type="set" field="stick" rank="1">置顶</span> 
            <!-- <span class="layui-btn layui-btn-xs question-admin" type="set" field="stick" rank="0" style="background-color:#ccc;">取消置顶</span> -->
            
            <span class="layui-btn layui-btn-xs jie-admin" type="set" field="status" rank="1">加精</span> 
            <!-- <span class="layui-btn layui-btn-xs question-admin" type="set" field="status" rank="0" style="background-color:#ccc;">取消加精</span> -->
          </div>
          <span class="fly-list-nums"> 
            <a href="#comment"><i class="iconfont" title="回答" >&#xe60c;</i> <label th:text="${NoteDetail.getMsgList().size()}"></label></a>
            <i class="iconfont" title="人气">&#xe60b;</i><label th:text="${NoteDetail.getNoteinfo().getSkinNum()}"></label>
          </span>
        </div>
        <div class="detail-about">
          <a class="fly-avatar" href="../user/home">
            <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg" alt="贤心">
          </a>
          <div class="fly-detail-user">
            <a href="../user/home" class="fly-link">
              <cite th:text="${NoteDetail.getUserinfo().getUserNam()}"></cite>
              <i class="iconfont icon-renzheng" title="认证信息：{{ rows.user.approve }}"></i>
              <i class="layui-badge fly-badge-vip">VIP3</i>
            </a>
            <span>2017-11-30</span>
          </div>
          <div class="detail-hits" id="LAY_jieAdmin" data-id="123">
            <span style="padding-right: 10px; color: #FF7200">悬赏：60飞吻</span>  
            <span class="layui-btn layui-btn-xs jie-admin" type="edit"><a href="add">编辑此贴</a></span>
          </div>
        </div>
        <div class="detail-body photos">
          <p th:text="${NoteDetail.getNoteinfo().getNoteBody()}">
          </p>
        </div>
      </div>

      <div class="fly-panel detail-box" id="flyReply">
        <fieldset class="layui-elem-field layui-field-title" style="text-align: center;">
          <legend>回帖</legend>
        </fieldset>

        <ul class="jieda" id="jieda" th:each="message:${NoteDetail.getMsgList()}">
          <li data-id="111" class="jieda-daan" style="border-bottom:1px dotted #DFDFDF;">
            <a name="item-1111111111"></a>
            <div class="detail-about detail-about-reply">
              <a class="fly-avatar" href="">
                <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg" alt=" ">
              </a>
              <div class="fly-detail-user">
                <a href="" class="fly-link">
                  <cite>贤心</cite>
                  <i class="iconfont icon-renzheng" title="认证信息：XXX"></i>
                  <i class="layui-badge fly-badge-vip">VIP3</i>              
                </a>
                
                <span>(楼主)</span>
                <!--
                <span style="color:#5FB878">(管理员)</span>
                <span style="color:#FF9E3F">（社区之光）</span>
                <span style="color:#999">（该号已被封）</span>
                -->
              </div>

              <div class="detail-hits">
                <span th:text="${message.getMsgTime()}"></span>
              </div>

              <i class="iconfont icon-caina" title="最佳答案"></i>
            </div>
            <div class="detail-body jieda-body photos">
              <p th:text="${message.getMsgDsc()}"></p>
            </div>
            <div class="jieda-reply">
              <span class="jieda-zan zanok" type="zan">
                <i class="iconfont icon-zan"></i>
                <em th:text="${message.getPraise()}"></em>
              </span>
              <span type="reply">
                <i class="iconfont icon-svgmoban53"></i>
                回复
              </span>
              <div class="jieda-admin">
                <span type="edit">编辑</span>
                <span type="del" onclick="deleteMessage(this);" th:value="${message.getMsgNo()}">删除</span>
                <!-- <span class="jieda-accept" type="accept">采纳</span> -->
              </div>
            </div>
          </li>
          
          <!-- 无数据时 -->
          <!-- <li class="fly-none">消灭零回复</li> -->
        </ul>
        
        <div class="layui-form layui-form-pane">
         <!-- <form action="/message/add" method="post">-->
            <div class="layui-form-item layui-form-text">
              <a name="comment"></a>
              <div class="layui-input-block">
                <textarea id="content" name="content" required lay-verify="required" placeholder="请输入内容"  class="layui-textarea fly-editor" style="height: 150px;"></textarea>
              </div>
            </div>
            <div class="layui-form-item">
              <button class="layui-btn" onclick="postMsg();">提交回复</button>
            </div>
          <!--</form>-->
        </div>
      </div>
    </div>


        <div class="layui-col-md4">
        <!--本周热议-->
        <dl class="fly-panel fly-list-one" id="currWeekTopic">
        </dl>

        <!--广告栏-->
        <div class="fly-panel" id="advert">
        </div>

      <div class="fly-panel" style="padding: 20px 0; text-align: center;">
        <img src="/images/weixin.jpg" style="max-width: 100%;" alt="layui">
        <p style="position: relative; color: #666;">微信扫码关注 layui 公众号</p>
      </div>

    </div>
  </div>
</div>

<div class="fly-footer">
  <p><a href="http://fly.layui.com/" target="_blank">Fly社区</a> 2017 &copy; <a href="http://www.layui.com/" target="_blank">layui.com 出品</a></p>
  <p>
    <a href="http://fly.layui.com/jie/3147/" target="_blank">付费计划</a>
    <a href="http://www.layui.com/template/fly/" target="_blank">获取Fly社区模版</a>
    <a href="http://fly.layui.com/jie/2461/" target="_blank">微信公众号</a>
  </p>
</div>

<script src="/layui/layui.js"></script>
<script src="/plugins/JQuery/jquery-3.3.1.min.js"></script>
<script>

    $(document).ready(function() {
        $("#head").load("../head");
        $("#advert").load("/advert");
        $("#currWeekTopic").load("/currWeekTopic");
    });
    function postMsg(){
        var noteNo = document.getElementById("noteNo").value;// $("#noteNo").value();
        var content =  document.getElementById("content").value;// $("#content").value();
        var upMsgNo = "";
        $.ajax({
            type : "POST",//提交方式
            url  : "/message/add",//提交地址
            data : {"noteNo":noteNo,"content":content, "upMsgNo":upMsgNo},//提交的数据
            dataType : "json",
            success  : function(data){  //返回结果
                if (data.result=="success"){
                    //layer.msg("评论成功" , {icon: 5});
                    var htmlStr = document.getElementById("jieda").innerHTML +
                     "<li data-id=\"111\" class=\"jieda-daan\" style=\"border-bottom:1px dotted #DFDFDF;\">\n" +
                        "            <a name=\"item-1111111111\"></a>\n" +
                        "            <div class=\"detail-about detail-about-reply\">\n" +
                        "              <a class=\"fly-avatar\" href=\"\">\n" +
                        "                <img src=\"https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg\" alt=\" \">\n" +
                        "              </a>\n" +
                        "              <div class=\"fly-detail-user\">\n" +
                        "                <a href=\"\" class=\"fly-link\">\n" +
                        "                  <cite>贤心</cite>\n" +
                        "                  <i class=\"iconfont icon-renzheng\" title=\"认证信息：XXX\"></i>\n" +
                        "                  <i class=\"layui-badge fly-badge-vip\">VIP3</i>              \n" +
                        "                </a>\n" +
                        "                \n" +
                        "                <span>(楼主)</span>\n" +
                        "                <!--\n" +
                        "                <span style=\"color:#5FB878\">(管理员)</span>\n" +
                        "                <span style=\"color:#FF9E3F\">（社区之光）</span>\n" +
                        "                <span style=\"color:#999\">（该号已被封）</span>\n" +
                        "                -->\n" +
                        "              </div>\n" +
                        "\n" +
                        "              <div class=\"detail-hits\">\n" +
                        "                <span >1111111111</span>\n" +
                        "              </div>\n" +
                        "\n" +
                        "              <i class=\"iconfont icon-caina\" title=\"最佳答案\"></i>\n" +
                        "            </div>\n" +
                        "            <div class=\"detail-body jieda-body photos\">\n" +
                        "              <p >" + content + "</p>\n" +
                        "            </div>\n" +
                        "            <div class=\"jieda-reply\">\n" +
                        "              <span class=\"jieda-zan zanok\" type=\"zan\">\n" +
                        "                <i class=\"iconfont icon-zan\"></i>\n" +
                        "                <em >0</em>\n" +
                        "              </span>\n" +
                        "              <span type=\"reply\">\n" +
                        "                <i class=\"iconfont icon-svgmoban53\"></i>\n" +
                        "                回复\n" +
                        "              </span>\n" +
                        "              <div class=\"jieda-admin\">\n" +
                        "                <span type=\"edit\">编辑</span>\n" +
                        "                <span type=\"del\" onclick=\"deleteMessage(this);\" value=\""+data.msgNo+"\">删除</span>\n" +
                        "                <!-- <span class=\"jieda-accept\" type=\"accept\">采纳</span> -->\n" +
                        "              </div>\n" +
                        "            </div>\n" +
                        "          </li>";

                    document.getElementById("jieda").innerHTML = htmlStr;
                    //document.getElementById("jieda").appendChild(li);
                    //liInfo.appendTo(document.getElementById(jieda));


                }else{
                    layer.msg(data.msg , {icon: 5});
                }
            },
            error : function(data){
                alert("错误");
            }
        });
    }

    function deleteMessage(obj){
      var msgNo = obj.getAttribute("value");
        $.ajax({
            type : "POST",//提交方式
            url  : "/message/del",//提交地址
            data : {"msgNo": msgNo},//提交的数据
            dataType : "json",
            success  : function(data){  //返回结果
                if (data.result=="success"){
                    obj.parentElement.parentElement.parentElement.remove();
                }else{
                    layer.msg(data.msg , {icon: 5});
                }
            },
            error : function(data){
                alert("错误");
            }
        });

    }

layui.config({
  version: "3.0.0"
  ,base: '/mods/'
}).extend({
  fly: 'index'
}).use(['fly', 'face'], function(){
  var $ = layui.$
  ,fly = layui.fly;
  //如果你是采用模版自带的编辑器，你需要开启以下语句来解析。
  /*
  $('.detail-body').each(function(){
    var othis = $(this), html = othis();
    othis(fly.content(html));
  });
  */
});
</script>

</body>
</html>