<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>帐号设置</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="fly,layui,前端社区">
    <meta name="description" content="Fly社区是模块化前端UI框架Layui的官网社区，致力于为web开发提供强劲动力">
    <link rel="stylesheet" href="/resource/layui/css/layui.css">
    <link rel="stylesheet" href="/resource/css/global.css">
    <style>
        .custom-container{
            width: 99%;
        }
    </style>
</head>
<body>
    <div class="layui-container fly-marginTop fly-user-main custom-container">
        <div class="fly-panel fly-panel-user" pad20>
            <a class="layui-btn layui-btn-lg" th:href="@{/user/model}">新增</a>
            <table class="layui-table" style="max-height: 510px;">
                <colgroup>
                    <col width="200">
                    <col width="200">
                    <col width="100">
                    <col width="100">
                    <col width="80">
                </colgroup>
                <thead style="text-align: center">
                    <tr >
                        <td>编码</td>
                        <td>名称</td>
                        <td>类型</td>
                        <td>排序</td>
                        <td >操作</td>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="subject:${subList}">
                        <td th:text="${subject.subjectCode}"></td>
                        <td th:text="${subject.subjectNam}"></td>
                        <td th:text="${subject.userType}"></td>
                        <td th:text="${subject.seqNum}"></td>
                        <td align="center">
                            <a class="layui-btn layui-btn-primary layui-border-green" th:href="@{/user/model/}+${subject.subjectNo}">编辑</a>
                            <button th:attr="del_uri=@{/user/model/}+${subject.subjectNo}" class="layui-btn layui-btn-primary layui-border-red deleteBtn" >删除</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <form id="deleteSubject" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <input type="hidden" name="_method" value="delete">
    </form>
    <script src="/resource/plugins/JQuery/jquery-3.3.1.min.js"></script>
    <script src="/resource/layui/layui.js"></script>
    <script>
        $(".deleteBtn").click(function(){
            $("#deleteSubject").attr("action", $(this).attr("del_uri")).submit();
            return false;
        });
    </script>
</body>
</html>