<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>电影点播</title>

    <style>
        .movieTyp{
            width: 100px;
            border: 1px solid white;
            background-color: #00CCFF;
            cursor: pointer;
        }

    </style>
</head>
<body>
        <div style="width: 98%;" align="center">
            <table style="width: 100%;">
                <tbody>
                    <tr style="width: 100%;" th:each="moviecol:${MovieColInfo}">
                        <td style="width: 200px;" th:text="${moviecol.mcolName}"></td>
                        <td class="movieTyp" th:each="moviegroup:${moviecol.moviegroups}" th:text="${moviegroup.groupName}" th:id="${moviegroup.groupCode}" onclick="moviegroup_onclick(this);">栏目A</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="width: 98%;">
            <iframe id="frameList" style="border: 0px;" src="/movie/movieList?code=all" ></iframe>


        </div>
</body>
<script src="/plugins/JQuery/jquery-3.3.1.min.js"></script>
<script src="/js/movie/movie.js"></script>
<script>

</script>
</html>