<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>电影点播</title>
</head>
<body>
<div id="videoDiv" width="100%">
    <video id="vid" width="98%" height="90%" autoplay="autoplay" controls="controls" >
        <source th:src="${moviePath}" type="video/ogg">
        <source th:src="${moviePath}" type="video/mp4">
    </video>
</div>

</body>
<script src="/plugins/JQuery/jquery-3.3.1.min.js"></script>
<script src="/js/movie/movie.js"></script>
</html>
