<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<div class="layui-container" style="width: 100%" th:fragment="head">
    <a class="fly-logo" href="/">
        <img src="/images/logo.png" alt="layui">
    </a>
    <ul class="layui-nav fly-nav layui-hide-xs">
         <li class="layui-nav-item">
            <a th:href="@{/welcome}"><i class="iconfont icon-iconmingxinganli"></i>欢迎页面</a>
        </li>
        <li class="layui-nav-item layui-this">
            <a th:href="@{main}"><i class="iconfont icon-jiaoliu"></i>个人中心</a>
        </li>
    </ul>

    <ul class="layui-nav fly-nav-user"  sec:authorize="!isAuthenticated()">
        <!-- 未登入的状态 -->
        <li class="layui-nav-item" >
            <a class="iconfont icon-touxiang layui-hide-xs" href="user/regisiter"></a>
        </li>
        <li class="layui-nav-item">
            <a th:href="@{/userlogin}">登录</a>
            <!-- <button data-method="notice" class="layui-btn" onclick="showLoginPage()">登录</button>-->
        </li>
        <li class="layui-nav-item">
            <a href="/user/regisiter">注册</a>
        </li>
        <li class="layui-nav-item layui-hide-xs">

            <a href="/app/qq/" onclick="layer.msg('正在通过QQ登入', {icon:16, shade: 0.1, time:0})" title="QQ登入" class="iconfont icon-qq"></a>
        </li>
        <li class="layui-nav-item layui-hide-xs">
            <a href="/app/weibo/" onclick="layer.msg('正在通过微博登入', {icon:16, shade: 0.1, time:0})" title="微博登入" class="iconfont icon-weibo"></a>
        </li>
    </ul>

    <ul class="layui-nav fly-nav-user" sec:authorize="isAuthenticated()">99
        <li class="layui-nav-item" style="margin-left: 10px;margin-right: 10px;">
            <a th:href="@{main}">控制台<span class="layui-badge">9</span></a>
        </li>
        <li class="layui-nav-item" style="margin-left: 10px;margin-right: 10px;">
            <a href="/user/index">个人中心<span class="layui-badge-dot"></span></a>
        </li>
        <li class="layui-nav-item" style="margin-left: 10px;margin-right: 10px;">
            <a href="" > <img src="//t.cn/RCzsdCq" class="layui-nav-img" th:text="${userNam}" > </a>
            <dl class="layui-nav-child">
                <dd><a href="/user/set">修改信息</a></dd>
                <dd><a href="javascript:;">安全管理</a></dd>
                <dd>
                    <form id="_form" th:method="post" th:action="@{/logout}">
                        <input type="hidden" name="name" value="value" />
                        <a onclick="document.getElementById('_form').submit();">退了</a>
                    </form>
                </dd>
            </dl>
        </li>
    </ul>
</div>


<div class="fly-footer" th:fragment="footer">
    <p><a href="http://fly.layui.com/" target="_blank">Fly社区</a> 2017 &copy; <a href="http://www.layui.com/" target="_blank">layui.com 出品</a></p>
    <p>
        <a href="http://fly.layui.com/jie/3147/" target="_blank">付费计划</a>
        <a href="http://www.layui.com/template/fly/" target="_blank">获取Fly社区模版</a>
        <a href="http://fly.layui.com/jie/2461/" target="_blank">微信公众号</a>
    </p>
</div>

<div class="fly-panel fly-column" th:fragment="menu" style="width: 100%;">
    <div class="layui-container">
        <ul class="layui-clear">
            <li class="layui-hide-xs layui-this"><a href="/">首页</a></li>
            <li><a href="/index">提问</a></li>
            <li><a href="/question/index">分享<span class="layui-badge-dot"></span></a></li>
            <li><a href="/question/index">讨论</a></li>
            <li><a href="/question/index">建议</a></li>
            <li><a href="/question/index">公告</a></li>
            <li><a href="/question/index">动态</a></li>
            <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><span class="fly-mid"></span></li>

            <!-- 用户登入后显示 -->
            <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><a href="user/index">我发表的贴</a></li>
            <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><a href="user/index#collection">我收藏的贴</a></li>
        </ul>

        <div class="fly-column-right layui-hide-xs">
            <span class="fly-search"><i class="layui-icon"></i></span>
            <a class="layui-btn" th:href="@{/question/add}">发表新帖</a>
        </div>
        <!-- <div class="layui-hide-sm layui-show-xs-block" style="margin-top: -10px; padding-bottom: 10px; text-align: center;">
           <a href="/question/add" class="layui-btn">发表新帖</a>
         </div> -->
    </div>
</div>

<ul class="fly-panel-main fly-list-static" th:fragment="fastpassway">
    <li>
        <a href="http://fly.layui.com/jie/4281/" target="_blank">layui 的 GitHub 及 Gitee (码云) 仓库，欢迎Star</a>
    </li>
    <li>
        <a href="http://fly.layui.com/jie/5366/" target="_blank">
            layui 常见问题的处理和实用干货集锦
        </a>
    </li>
    <li>
        <a href="http://fly.layui.com/jie/4281/" target="_blank">layui 的 GitHub 及 Gitee (码云) 仓库，欢迎Star</a>
    </li>
    <li>
        <a href="http://fly.layui.com/jie/5366/" target="_blank">
            layui 常见问题的处理和实用干货集锦
        </a>
    </li>
    <li>
        <a href="http://fly.layui.com/jie/4281/" target="_blank">layui 的 GitHub 及 Gitee (码云) 仓库，欢迎Star</a>
    </li>
</ul>

<dl class="fly-panel-main" th:fragment="friendlink">
    <dd><a href="http://www.layui.com/" target="_blank">layui</a><dd>
    <dd><a href="http://layim.layui.com/" target="_blank">WebIM</a><dd>
    <dd><a href="http://layer.layui.com/" target="_blank">layer</a><dd>
    <dd><a href="http://www.layui.com/laydate/" target="_blank">layDate</a><dd>
    <dd><a href="mailto:xianxin@layui-inc.com?subject=%E7%94%B3%E8%AF%B7Fly%E7%A4%BE%E5%8C%BA%E5%8F%8B%E9%93%BE" class="fly-link">申请友链</a><dd>
</dl>


<div class="fly-panel" th:fragment="advert">
    <div class="fly-panel-title">
        这里可作为广告区域
    </div>
    <div class="fly-panel-main">
        <a href="http://layim.layui.com/?from=fly" target="_blank" class="fly-zanzhu" time-limit="2017.09.25-2099.01.01" style="background-color: #5FB878;">LayIM 3.0 - layui 旗舰之作</a>
    </div>
</div>

<dl class="fly-panel fly-list-one" th:fragment="currWeekTopic">
    <dt class="fly-panel-title">本周热议</dt>
    <dd>
        <a href="question/detail">基于 layui 的极简社区页面模版</a>
        <span><i class="iconfont icon-pinglun1"></i> 16</span>
    </dd>
    <dd>
        <a href="question/detail">基于 layui 的极简社区页面模版</a>
        <span><i class="iconfont icon-pinglun1"></i> 16</span>
    </dd>
    <dd>
        <a href="question/detail">基于 layui 的极简社区页面模版</a>
        <span><i class="iconfont icon-pinglun1"></i> 16</span>
    </dd>
    <dd>
        <a href="question/detail">基于 layui 的极简社区页面模版</a>
        <span><i class="iconfont icon-pinglun1"></i> 16</span>
    </dd>
    <dd>
        <a href="question/detail">基于 layui 的极简社区页面模版</a>
        <span><i class="iconfont icon-pinglun1"></i> 16</span>
    </dd>
    <dd>
        <a href="question/detail">基于 layui 的极简社区页面模版</a>
        <span><i class="iconfont icon-pinglun1"></i> 16</span>
    </dd>
    <dd>
        <a href="question/detail">基于 layui 的极简社区页面模版</a>
        <span><i class="iconfont icon-pinglun1"></i> 16</span>
    </dd>
    <dd>
        <a href="question/detail">基于 layui 的极简社区页面模版</a>
        <span><i class="iconfont icon-pinglun1"></i> 16</span>
    </dd>
    <dd>
        <a href="question/detail">基于 layui 的极简社区页面模版</a>
        <span><i class="iconfont icon-pinglun1"></i> 16</span>
    </dd>
    <dd>
        <a href="question/detail">基于 layui 的极简社区页面模版</a>
        <span><i class="iconfont icon-pinglun1"></i> 16</span>
    </dd>
</dl>