<!DOCTYPE html>
<html>
<head>
    <title>广联达视频监控展示</title>
</head>
<body>
   <div >
       <iframe src="http://gvs.glodon.com/gvs/video/v2/project/633956260381184/screen/1/live?deviceIds=6279da716ae59c001bbc67fd&videoToken=eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJ6Z255aG5oZEB6Z255aG5oZC5jb20iLCJhdWQiOiJHVlMiLCJ0ZW5hbnRpZCI6IjYzMzkyOTUwOTY1NjU3NiIsInNjb3BlcyI6WyJST0xFX0FETUlOIl0sInByb2plY3RpZCI6IjYzMzk1NjI2MDM4MTE4NCIsImlhdCI6MTY1MjA2MjM0N30.geCTOt01lw4-CGB7YU7DjjsVHhCaHiKAW8U6TwkJqNPVrvBVRr9XbrUFcppJNDaGDDLjLj_zM5I542FXanapwg&productCode=third&controllable=false&optionHide=true"
               style="width: 800px;height: 600px;"></iframe>

   </div>
</body>
</html>

  