<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"><head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div>
    <h1 align="center">权限测试</h1>
    <div sec:authorize="!isAuthenticated()">
        <h2 align="center"> 游客你好，如要查看子页面，<a th:href="@{/userlogin}"> 请先登录 </a></h2>
    </div>
    <div sec:authorize="isAuthenticated()">
        <h2><span sec:authentication="name"></span>，你好，你的角色有 <span sec:authentication="principal.authorities"></span> </h2>
        <form th:action="@{/logout}" th:method="post">
            <input  th:type="submit" th:value="注销"/>
        </form>
    </div>

    <div sec:authorize="hasRole('VIP1')">
        <h1> 1</h1>
        <ul>
            <li> <a th:href="@{/level1/1}">页面1</a> </li>
            <li> <a th:href="@{/level1/2}">页面2 </a> </li>
            <li> <a th:href="@{/level1/3}">页面3 </a> </li>
        </ul>
    </div>
    <div sec:authorize="hasRole('VIP2')">
        <h1> 2</h1>
        <ul>
            <li> <a th:href="@{/level2/4}">页面4</a> </li>
            <li> <a th:href="@{/level2/5}">页面5 </a> </li>
            <li> <a th:href="@{/level2/6}">页面6 </a> </li>
        </ul>
    </div>
    <div sec:authorize="hasRole('VIP3')">
    <h1> 3</h1>
    <ul>
        <li> <a th:href="@{/level3/7}">页面7</a> </li>
        <li> <a th:href="@{/level3/8}">页面8 </a> </li>
        <li> <a th:href="@{/level3/9}">页面9 </a> </li>
    </ul>
    </div>
</body>
</html>